# Игнорируем файлы виртуального окружения
venv/
env/
.venv/

# Игнорируем файлы и директории от IDE
.idea/
.vscode/

# Игнорируем pycache
__pycache__/
*.py[cod]

# Игнорируем скомпилированные файлы
*.pyo
*.pyd

# Игнорируем файлы, которые могут содержать секреты или конфиденциальную информацию
*.env
*.sqlite3

# Игнорируем временные файлы
*.log
*.bak

# Для систем Windows
Thumbs.db
Desktop.ini
